<!DOCTYPE html>
<!--suppress HtmlUnknownAttribute, RequiredAttributes, JSUnresolvedLibraryURL, HtmlUnknownTag -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="eng">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, severny admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, pixel  design, pixel  dashboard bootstrap 4 dashboard template">
    <meta name="description"
          content="Pixel Admin is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Pixel Admin Template by WrapPixel</title>


    <div th:fragment="header-reminder">
        <link rel="canonical" href="https://www.wrappixel.com/templates/pixel-admin-lite/"/>
        <link rel="icon" type="image/png" sizes="16x16" href="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/logos/pixel-favicon.png">
        <link th:href="@{/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css}" rel="stylesheet">
        <link th:href="@{/plugins/bower_components/toast-master/css/jquery.toast.css}" rel="stylesheet">
        <link th:href="@{/plugins/bower_components/morrisjs/morris.css}" rel="stylesheet">
        <link th:href="@{/css/animate.css}" rel="stylesheet">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <link th:href="@{/css/colors/blue-dark.css}" id="theme" rel="stylesheet">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    </div>

</head>

<body>

<div id="wrapper" th:fragment="header-nav">
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header"><a class="navbar-toggle hidden-sm hidden-md hidden-lg "
                                      th:href="@{/}" data-toggle="collapse" data-target=".navbar-collapse"><i
                class="fa fa-bars"></i></a>

            <div class="top-left-part"><a class="logo" th:href="@{/}"><b>
                <img th:src="@{/plugins/images/pixeladmin-logo.png}" alt="home"/></b></a>
            </div>

            <ul class="nav navbar-top-links navbar-left m-l-20 hidden-xs">
                <li>
                    <form role="search" class="app-search hidden-xs" sec:authorize="isAuthenticated()">
                        <label>
                            <input type="text" placeholder="Найти..." class="form-control">
                        </label>
                        <a href=""><i
                                class="fa fa-search"></i></a>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li sec:authorize="isAuthenticated()">
                    <a class="profile-pic" href="#">
                        <img th:src="@{/plugins/images/users/varun.jpg}" alt="user-img"
                             width="36" class="img-circle">
                        <!--suppress ThymeleafVariablesResolveInspection -->
                        <b th:utext="${userName}" class="hidden-xs"></b>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse slimscrollsidebar">
            <ul class="nav" id="side-menu">
                <li>
                    <a th:href="@{/}" class="waves-effect"><i class="fa fa-clock-o fa-fw"
                                                              aria-hidden="true"></i><span
                            class="hide-menu">Dashboard</span></a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/profile}" class="waves-effect"><i class="fa fa-user fa-fw"
                                                                     aria-hidden="true"></i><span class="hide-menu">Профиль</span></a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/tasks}" class="waves-effect"><i class="fa fa-columns fa-fw"
                                                                   aria-hidden="true"></i><span
                            class="hide-menu">Задачи</span></a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/projects}" class="waves-effect"><i class="fa fa-table fa-fw"
                                                                      aria-hidden="true"></i><span class="hide-menu">Проекты</span></a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/tasks/dump}" class="waves-effect"><i class="fa fa-th fa-fw"
                                                                        aria-hidden="true"></i><span class="hide-menu">Dump задач</span></a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/projects/dump}" class="waves-effect"><i class="fa fa-th-large fa-fw"
                                                                           aria-hidden="true"></i><span
                            class="hide-menu">Dump проектов</span></a>
                </li>
                <li>
                    <a th:href="@{/fontawesome}" class="waves-effect"><i class="fa fa-font fa-fw"
                                                                         aria-hidden="true"></i><span class="hide-menu">Icons</span></a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <hr>
                </li>
                <li>
                    <a th:href="@{/sign-up}" class="waves-effect"><i class="fa fa-plus-square fa-fw"
                                                                     aria-hidden="true"></i><span
                            class="hide-menu">Регистрация</span></a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" class="waves-effect"><i class="fa fa-sign-in fa-fw"
                                                                    aria-hidden="true"></i><span
                            class="hide-menu">Выйти</span></a>
                </li>
                <li>
                    <a th:href="@{/sign-in}" class="waves-effect"><i class="fa fa-sign-in fa-fw"
                                                                     aria-hidden="true"></i><span
                            class="hide-menu">Войти</span></a>
                </li>
            </ul>
        </div>
    </div>