<!DOCTYPE html>
<!--suppress HtmlUnknownTag -->
<html xmlns:th="http://www.thymeleaf.org" lang="eng">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, severny admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, pixel  design, pixel  dashboard bootstrap 4 dashboard template">
    <meta name="description"
          content="Pixel Admin is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Pixel Admin Template by WrapPixel</title>

    <div th:insert="fragments/_header.html :: header-reminder"></div>

</head>

<body>

<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>

<div id="wrapper">

    <div th:insert="fragments/_header.html :: header-nav"></div>

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Существующие в системе задачи</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Dashboard</a></li>
                        <li class="active">Dump задач</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Id пользователя</th>
                                    <th>Завершённость</th>
                                    <th>Заголовок</th>
                                    <th>Статус</th>
                                    <th>Действия</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="task,item : ${tasks}">
                                    <td th:utext="${item.count}"></td>
                                    <td th:utext="${task.user.id}"></td>
                                    <td th:utext="'0%'"></td>
                                    <td th:utext="${task.title}"></td>
                                    <td th:utext="${task.status.title}"></td>
                                    <td>
                                        <a th:href="@{'/task/edit/' + ${task.id}}" class="waves-effect"><i
                                                class="fa fa-edit (alias) fa-fw"
                                                aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer text-center"> 2021 &copy;</footer>

    </div>

</div>

<script th:src="@{/plugins/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js}"></script>
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<script th:src="@{/js/waves.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>

</body>

</html>