<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection, JSUnresolvedLibraryURL -->
<html xmlns:th="http://www.thymeleaf.org" lang="eng">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, severny admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, pixel  design, pixel  dashboard bootstrap 4 dashboard template">
    <meta name="description"
          content="Pixel Admin is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Pixel Admin Template by WrapPixel</title>

    <link rel="canonical" href="https://www.wrappixel.com/templates/pixel-admin-lite/"/>
    <link rel="icon" type="image/png" sizes="16x16" href="https://wrappixel.com/demos/free-admin-templates/all-lite-landing-pages/assets/images/logos/pixel-favicon.png">
    <link th:href="@{/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/animate.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/colors/blue.css}" id="theme" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>

<body>

<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>

<section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body text-center">
            <h2 th:text="${apiExceptionResponse} ? ${apiExceptionResponse.status} : '404 Not_Found'"></h2>
            <h4 class="text-uppercase" th:text="${apiExceptionResponse} ? ${apiExceptionResponse.errorMessage}: 'Страница не найдена'"></h4>
            <p class="text-muted m-t-30 m-b-30">Вы, кажется, пытаетесь найти дорогу домой</p>
            <a th:href="@{/}" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Вернуться на главную</a>
        </div>
        <footer class="footer text-center"> 2021 &copy;</footer>
    </div>
</section>

<script th:src="@{/plugins/bower_components/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    $(function () {
        $(".preloader").fadeOut();
    });
</script>
</body>

</html>